# **TASK 1**

### Submitted By: Ghaayathri Devi K


## Description:
This task involves understanding the basic data
types in Python such as lists, dictionaries, and
sets.

## Responsibility:
Write a Python program to create a list, a
dictionary, and a set. Perform basic operations
like adding, removing, and modifying
elements.

## List Operations

In [8]:
# Creating a list

lst = list(["Tamil Nadu", "Karnataka", "Kerala", "Andhra Pradesh", "Telungana", "Mumbai"])
print(lst)

['Tamil Nadu', 'Karnataka', 'Kerala', 'Andhra Pradesh', 'Telungana', 'Mumbai']

In [9]:
# Adding a single element

lst.append("West Bengal")
print(lst)

['Tamil Nadu', 'Karnataka', 'Kerala', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'West Bengal']

In [10]:
# Adding multiple elements
lst.extend(["Goa", "Bihar"])
print(lst)

['Tamil Nadu', 'Karnataka', 'Kerala', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'West Bengal', 'Goa', 'Bihar']

In [11]:
# Concatenate 2 lists
lst2 = ["Uttar Pradesh", "Madhya Pradesh"]
lst3 = lst + lst2
print(lst3)

['Tamil Nadu', 'Karnataka', 'Kerala', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'West Bengal', 'Goa', 'Bihar', 'Uttar Pradesh', 'Madhya Pradesh']

In [12]:
# Removing elements from the list
lst3.remove("Goa")
print(lst3)

['Tamil Nadu', 'Karnataka', 'Kerala', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'West Bengal', 'Bihar', 'Uttar Pradesh', 'Madhya Pradesh']

In [13]:
lst3.pop(2)
print(lst3)

['Tamil Nadu', 'Karnataka', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'West Bengal', 'Bihar', 'Uttar Pradesh', 'Madhya Pradesh']

In [14]:
# Modifying elements in a list
lst3[5] = "Punjab"
print(lst3)

['Tamil Nadu', 'Karnataka', 'Andhra Pradesh', 'Telungana', 'Mumbai', 'Punjab', 'Bihar', 'Uttar Pradesh', 'Madhya Pradesh']

## Set Operations

In [17]:
# Creating a set
S = set({"Tamil Nadu", "Karnataka", "Kerala", "Andhra Pradesh", "Telungana", "Mumbai", "Andhra Pradesh", "Telungana","Karnataka", "Kerala"})
print(S)

{'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana', 'Tamil Nadu', 'Karnataka'}

In [18]:
# Adding an element into a set
S.add("West Bengal")
print(S)

{'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana', 'Tamil Nadu', 'Karnataka', 'West Bengal'}

In [19]:
# Adding more than 1 element in a set
S.union("Goa", "Bihar")
print(S)

{'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana', 'Tamil Nadu', 'Karnataka', 'West Bengal'}

In [23]:
# Getting the common elements
S2 = {'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana',"Puducherry","Lakshadweep"}
S3 = S.intersection(S2)
print(S3)

{'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana'}

In [25]:
# Getting left common elements
S4 = S-S2
print(S4)

{'Tamil Nadu', 'Karnataka', 'West Bengal'}

In [26]:
# Removing elements from a set
S.remove("Karnataka")
print(S)

{'Andhra Pradesh', 'Mumbai', 'Kerala', 'Telungana', 'Tamil Nadu', 'West Bengal'}

## Dictionary Operations

In [28]:
# Create a dictionary

my_dict = {"Name": "Ghaayathri Devi K",
           "Age": 21,
           "Gender": "Female",
           "Qualification": "B.Tech",
           "College": "Amrita Vishwa Vidyapeetham",
           "DOB": 2002}

print(my_dict)

{'Name': 'Ghaayathri Devi K', 'Age': 21, 'Gender': 'Female', 'Qualification': 'B.Tech', 'College': 'Amrita Vishwa Vidyapeetham', 'DOB': 2002}

In [29]:
# Get Key values
my_dict.keys()

dict_keys(['Name', 'Age', 'Gender', 'Qualification', 'College', 'DOB'])

In [31]:
for i in my_dict:
  print(i)

Name
Age
Gender
Qualification
College
DOB

In [30]:
# Get Values
my_dict.values()

dict_values(['Ghaayathri Devi K', 21, 'Female', 'B.Tech', 'Amrita Vishwa Vidyapeetham', 2002])

In [32]:
for j in my_dict:
  print(my_dict[j])

Ghaayathri Devi K
21
Female
B.Tech
Amrita Vishwa Vidyapeetham
2002

In [33]:
# Get key-value pairs
for i, j in my_dict.items():
  print(i, j)

Name Ghaayathri Devi K
Age 21
Gender Female
Qualification B.Tech
College Amrita Vishwa Vidyapeetham
DOB 2002

In [34]:
# Add element into a dictionary
my_dict["Marital Status"] = "Single"
print(my_dict)

{'Name': 'Ghaayathri Devi K', 'Age': 21, 'Gender': 'Female', 'Qualification': 'B.Tech', 'College': 'Amrita Vishwa Vidyapeetham', 'DOB': 2002, 'Marital Status': 'Single'}

In [36]:
# Remove element from a dictionary
my_dict.pop("Age")
print(my_dict)

{'Name': 'Ghaayathri Devi K', 'Gender': 'Female', 'Qualification': 'B.Tech', 'College': 'Amrita Vishwa Vidyapeetham', 'DOB': 2002, 'Marital Status': 'Single'}